<?xml version="1.0"?>
<config>
    <modules>
    	<!-- Affiliate version 3.5.2.7 -->
        <MW_Credit>
            <version>0.1.3</version>
        </MW_Credit>
    </modules>
    <frontend>
        <routers>
            <credit>
                <use>standard</use>
                <args>
                    <module>MW_Credit</module>
                    <frontName>credit</frontName>
                </args>
            </credit>
        </routers>
        <layout>
            <updates>
                <credit>
                    <file>mw_credit.xml</file>
                </credit>
            </updates>
        </layout>
        <translate>
			<modules>
				<MW_Credit>
					<files>
						<default>MW_Credit.csv</default>
					</files>
				</MW_Credit>
			</modules>
		</translate>
    </frontend>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<MW_Credit>
							<title>Credit Module</title>
							<sort_order>10</sort_order>
						</MW_Credit>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <credit translate="title">
                                            <title>Credit</title>
                                        </credit>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<translate>
			<modules>
				<MW_Credit>
					<files>
						<default>MW_Credit.csv</default>
					</files>
				</MW_Credit>
			</modules>
		</translate>
    </adminhtml>
	 
    <global>
        <models>
            <credit>
                <class>MW_Credit_Model</class>
                <resourceModel>credit_mysql4</resourceModel>
            </credit>
            <credit_mysql4>
                <class>MW_Credit_Model_Mysql4</class>
                <entities>
                    <credithistory>
                        <table>mw_credit_history</table>
                    </credithistory>
                    <creditorder>
						<table>mw_credit_order</table>
					</creditorder>
					<creditcustomer>
						<table>mw_credit_customer</table>
					</creditcustomer>
                </entities>
            </credit_mysql4>
           <!-- <sales>
            	<rewrite>
            		<order_pdf_invoice>MW_Credit_Model_Order_Pdf_Invoice</order_pdf_invoice>
            	</rewrite>
            	<rewrite>
            		<order_pdf_creditmemo>MW_Credit_Model_Order_Pdf_Creditmemo</order_pdf_creditmemo>
            	</rewrite>
           </sales>
             <tax>
            	<rewrite>
            		<sales_total_quote_tax>MW_Credit_Model_Tax_Sales_Total_Quote_Tax</sales_total_quote_tax>
            	</rewrite>
            </tax>-->
        </models>
        <sales>
            <quote>
                <totals>
                    <credit_discount>
                        <class>MW_Credit_Model_Quote_Address_Total_Discount</class>
                        <after>affiliate_discount</after>
                        <before>grand_total</before>
                    </credit_discount>
                    <tax>
                        <class>MW_Credit_Model_Quote_Address_Total_Tax</class>
                        <after>credit_discount,affiliate_discount</after>
                        <before>grand_total</before>
                    </tax>
               </totals>
           </quote>
        </sales>
        <resources>
            <credit_setup>
                <setup>
                    <module>MW_Credit</module>
                    <!-- Hey, this call Model need for addAttribute() -->
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </credit_setup>
            <credit_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </credit_write>
            <credit_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </credit_read>
        </resources>
        <blocks>
            <credit>
                <class>MW_Credit_Block</class>
            </credit>
        </blocks>
        <helpers>
            <credit>
                <class>MW_Credit_Helper</class>
            </credit>
        </helpers>
        <events>
        	<customer_save_after>
				<observers>
					<credit_initialize_observer>
						<type>singleton</type>
						<class>MW_Credit_Model_Observer</class>
						<method>initializeCredit</method>
					</credit_initialize_observer>
				</observers>
			</customer_save_after>
	        <mw_affiliate_save_credit_history>
            	<observers>
                    <credit>
                        <type>singleton</type>
                        <class>MW_Credit_Model_Observer</class>
                        <method>saveAffiliateCreditHistory</method>
                    </credit>
                </observers>
	        </mw_affiliate_save_credit_history>
	        <mw_affiliate_refund_order>
            	<observers>
                    <credit>
                        <type>singleton</type>
                        <class>MW_Credit_Model_Observer</class>
                        <method>saveAffiliateRefundOrder</method>
                    </credit>
                </observers>
             </mw_affiliate_refund_order>
             <sales_order_place_after>
                <observers>
                    <credit>
                        <type>singleton</type>
                        <class>credit/observer</class>
                        <method>saveOrderAfter</method>
                    </credit>
                </observers>
             </sales_order_place_after> 
             <!-- <sales_order_save_after>
	            	<observers>
	                    <credit_payment>
	                        <type>singleton</type>
	                        <class>credit/observer</class>
	                        <method>cancelPayment</method>
	                    </credit_payment>
	                </observers>
             </sales_order_save_after>
             <checkout_submit_all_after>
	            	<observers>
	                    <credit_payment>
	                        <type>singleton</type>
	                        <class>credit/observer</class>
	                        <method>cancelPayment</method>
	                    </credit_payment>
	                </observers>
             </checkout_submit_all_after> -->
             <sales_order_save_after>
            	<observers>
                    <credit_payment>
                        <type>singleton</type>
                        <class>credit/observer</class>
                        <method>updateStatusOrder</method>
                    </credit_payment>
                </observers>
             </sales_order_save_after>
             <checkout_submit_all_after>
            	<observers>
                    <credit_payment>
                        <type>singleton</type>
                        <class>credit/observer</class>
                        <method>updateStatusOrder</method>
                    </credit_payment>
                </observers>
             </checkout_submit_all_after>
            <!--  <sales_order_invoice_save_after>
				<observers>
					<credit_invoice_observer>
						<type>singleton</type>
						<class>MW_Credit_Model_Observer</class>
						<method>saveOrderInvoiceAfter</method>
					</credit_invoice_observer>
				</observers>
			 </sales_order_invoice_save_after>
			 <sales_order_item_cancel>
				<observers>
					<credit_cancel_observer>
						<type>singleton</type>
						<class>MW_Credit_Model_Observer</class>
						<method>cancelOrderAfter</method>
					</credit_cancel_observer>
				</observers>
			</sales_order_item_cancel>
			<sales_order_creditmemo_refund>
            	<observers>
                    <credit>
                        <type>singleton</type>
                        <class>MW_Credit_Model_Observer</class>
                        <method>updateRefundOrder</method>
                    </credit>
                </observers>
            </sales_order_creditmemo_refund> -->
            <sales_quote_collect_totals_before>
                <observers>
                    <credit>
                        <type>singleton</type>
                        <class>MW_Credit_Model_Observer</class>
                        <method>collectTotalBefore</method>
                    </credit>
                </observers>
            </sales_quote_collect_totals_before> 
		</events>
    </global>
    <default>
		<credit>
			<!--<config>
				 <enabled>1</enabled> 
				<credit_money_rate>1/1</credit_money_rate>
			</config>-->
			<options>
				<allow_using_credit_to_checkout>1</allow_using_credit_to_checkout>
				<max_credit_to_checkout>0</max_credit_to_checkout>
			</options>
		</credit>
	</default>
</config>