<!--@subject You have an invitation from {{var sender.name}}@-->
<p>Hello,</p>

<p>Your friend has sent you an invitation to visit {{var store_name}}. Please see the details below.</p>

<p>From: <i>{{var sender.name}}</i><br>
Message:<br>
{{var message}}
</p>

<p>Please click <a href="{{var invitation_link}}">this link</a> to accept your invitation or enter the referral code: <b>{{var referral_code}}</b> when you create an account or checkout to get your discount.</p>
<p>This message was sent by the Customer Service department, {{var store_name}}.</p>