<!--@subject Affiliate Withdrawal Request Denied @-->

<p>Hello {{var customer_name}},</p>

<p>Your {{var amount}} withdrawal request has been denied.<br>
For more detail, please feel free to contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}">{{config path='trans_email/ident_support/email'}}</a> or by phone at {{config path='general/store_information/phone'}}.</p>                                            

<p>This message was sent by the Customer Service department, {{var store_name}}.</p>
