<!--@subject Your affiliate account has been reactivated @-->

<p>Hello {{var customer_name}},</p>

<p>Your affiliate account has been reactivated. Now, you can use our affiliate program as usual.</p>

<p>Please <a href="{{var customer_affiliate_link}}">click here</a> to log into your affiliate account.<br>
If you have any questions or problems, please feel free to contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}">{{config path='trans_email/ident_support/email'}}</a> or by phone at {{config path='general/store_information/phone'}}.</p>                                            

<p>This message was sent by the Customer Service department, {{var store_name}}.</p>